* {
    box-sizing: inherit;
}
.contentBody{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin:0px;
}
.loadingImg{
    margin: auto;
}
.indexBtn{
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
}