* {
    box-sizing: inherit;
}

.contentContainer{
    display: flex;
    flex-wrap: wrap;
}

.contentContainer .loadingSpinner{
    color : red;
}

.indexBtn{
    margin-left: 50%;
}
.experssIdx{
    width: 80px;
}