.col{    
    color : gray;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-color: black;
    border-style: solid;
    text-align: center;
    min-height: 60px;
}

.col:hover{
    color :white;
}