.postBox{    
    width: 20rem;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
                0 8px 16px -8px rgba(0, 0, 0, 0.3), 
                0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    display: inline-flex;
    flex-direction: column;
    border-radius: .3rem;
    margin: 1rem;
    padding: 1em;
    overflow: hidden;
    transition: 0.25s; /* transition 효과 0.25초 */
}

.postBox:hover{
    cursor: pointer;
	transform: translateY(-5px); /* Y축으로-5px */
    transition-duration: 0.5s;
    background: #eeeeee;
}

.postTitle{
    min-height: 3rem;
    border-bottom-style: solid ;
    border-bottom-color: #eeeeef;
    font-size: 10pt;
    text-align: center;
}

.postBody{
    font-size: 9pt;
    min-height: 8rem;
}